package-manager-strict=true
auto-install-peers=true
node-linker=hoisted
public-hoist-pattern[]=*@payloadcms*
public-hoist-pattern[]=*payload*
public-hoist-pattern[]=*@swc*
public-hoist-pattern[]=*next*