@import 'tailwindcss';

@theme {
  --font-display: var(--font-sometype-mono);
  --font-size-base: 18px;
  --breakpoint-3xl: 1920px;

  --color-crilli-50: rgb(245 245 246);
  --color-crilli-100: rgb(225 225 227);
  --color-crilli-200: rgb(198 198 200);
  --color-crilli-300: rgb(161 161 164);
  --color-crilli-400: rgb(125 125 129);
  --color-crilli-500: rgb(89 89 94);
  --color-crilli-600: rgb(59 59 64);
  --color-crilli-700: rgb(37 37 40);
  --color-crilli-800: rgb(23 23 26);
  --color-crilli-900: rgb(15 15 16);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

html {
  font-family: var(--font-display);
  font-size: var(--font-size-base);
}
